.menu {
  width: 81.4%;
  padding: 39px 130px 76px;
}
.menu__selector {
  height: 87.7%;
}
.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.logo__bglogo {
  height: 60px;
  width: 60px;
}
.logo--bgwhite {
  background: #FFFFFF;
  border-radius: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  margin-right: 15px;
}
.logo__img {
  padding: 10px 13px 9px 14px;
}
.logo__description {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  color: #2B292D;
}
.logo__extra {
  font-weight: normal;
  margin: 0;
  font-size: 18px;
  opacity: 0.5;
  color: #2B292D;
}
.extra--editpad {
  padding: 30px 0 25px;
}
.logo--bgpurple {
  border-radius: 14px;
  background: linear-gradient(137.55deg, #3142C6 4.08%, #AF61D1 100%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  margin-right: 15px;
}
.logo--editfooter {
  padding: 48px 126px 59px 130px;
  width: 25.7%;
}
.logo__extrahover {
  padding-right: 0;
}
