@import 'reset.css';
$color-black: #2B292D;
$color-pink:#F9D9EB;
$color-darkBlue:#3041C4;
$color-white:#ffffff;
$color-green:#009B4D;
.--bg-pink{
    background-color: $color-pink;
}
li{
    list-style: none;
}
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.header-page{
    box-sizing: border-box;
    padding: 39px 49px 61px 130px; 
    background-color: $color-pink;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    height: 84.4px;
}
a{
    text-decoration: none;
    color: $color-black;
}
.--fw-bold{
    font-weight: bold;
}
.wrapper{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.btn{
    width: 160px;
    height: 48px;
    font-size: 18px;
}
.btn-primary{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: $color-white;
}
.btn-default{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: $color-darkBlue;
}
.brand__name_and_description{
    display: flex;
}
.brand{
    .brand__icon{
        display: block;
        width: 60px;
        height: 60px;
        img{
            width: 100%;
        }
        margin-right: 15px;
    }
    .brand-name-description{
        height: 51px;
        .brand__name{
            display: block;
            font-size: 20px;
            margin-bottom: 4px;
        }
    }
    align-items: center;
}
.menu{
    .list-menu{
        display: inline-block;
        margin-top: 18px;
    }
    .menu__item{
        display: inline-block;
        margin-right: 56px;
        font-size: 18px;
    }
    .angle-down{
        margin-left: 11px;
    }
    .dropdown{
        position: relative;
        .toggle{
            display: none;
            z-index: 3;
            width: 612px;
            position: absolute;
            top: 56px;
            padding: 15px;
            right: -48px;
            border-radius: 8px;
            background-color: #ffffff;
            box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 29px 45px rgba(0, 0, 0, 0.08), 0px 13px 18px rgba(0, 0, 0, 0.15);
            .introduce{
                width: 262px;
                display: block;
                padding: 15px;
                a{
                    font-size: 22px;
                    font-weight: bold;
                }
                a:hover{
                    color: $color-green;
                }
            }
        }
        .toggle:before{
            position: absolute;
            top: -20px;
            right: 78px;
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 20px solid #ffff;
        }
        .toggle::after{
            position: absolute;
            top: -45px;
            right: 55px;
            content: "";
            display: block;
            width: 72px;
            height: 45px;
            background-color: transparent;
        }
    }
    .dropdown:hover .toggle{
        display: flex;
    }
    margin-right: 81px;
}
.banner{
    display: flex;
    position: relative;
    margin-top:105px; 
    z-index: 1;
    .banner-left{
        display: inline-block;
        margin-top: 175px;
        .group-btn{
            margin-top: 58px;
            button{
                margin-right: 10px;
            }
        }
    }
    .tittle{
        width: 754px;
        font-size: 80px;
        position: absolute;
        top:-24px;

        line-height: 78px;
    }
    .description{
        font-size: 24px;
    }
}
.section1{
    background-color: $color-white;
    .section1-header{
        display: flex;
        margin: auto;
        margin-top: 62px;
        width: 1167px;
        .benefit{
            width: 343px;
            box-sizing: border-box;
            padding: 40px 25px;
            margin: 0px 23px;
            text-align: center;
            background: $color-white;
            img{
                height: 150px;
            }
            .benefit-description{
                height: 90px;
                font-size: 24px;
                line-height: 30px; 
                margin-top: 36px;   
                margin-bottom: 33px;
            }
            a{
                font-size: 18px;
                line-height: 26px;
                font-weight: bold;
                color: $color-darkBlue;
            }
        }
        .benefit:hover{
            box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
        }
    }
    .section1-tittle{
        text-align: center;
        font-size: 56px;
        line-height: 56px;
        width: 555px;
        margin: auto;
        margin-top: 87px;
        
    }
    .endow{
        width: 555px;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
    }
    .list-course{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-bottom: 75px;
        width: 1140px;
        justify-content: space-between;
        .course{
            width: 360px;
            padding: 39px 0px;
            img{
                margin-bottom: 20px;
            }
            .course-content{
                display: flex;
                flex-wrap: wrap;
                height: 115px;
                align-content: space-between;
                .course-name{
                    font-size: 20px;
                    line-height: 26px;
                }
                .course-description{
                    font-size: 16px;
                }
                a{
                    font-size: 16px;
                    color: $color-darkBlue;
                    font-weight: bold;
                }
            }
            
        }
    }
    .section1-footer{
        height: 558px;
        background-color: #D3E9EF;
        padding-top:50px;
        padding-bottom: 82px; 
        .list-logo{
            width: 1140px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            .logo{
                color: $color-black;
                opacity: 0.3;
                display: inline;
            }
            .apple-world{
                font-size: 16px;
                font-weight: 600;
            }
            .houston-chronicle > *{
                font-family: 'Farro', sans-serif;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 800;
            }
        }
    }
}